<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">Dating App</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>
    <div class="btn-group" dropdown *ngIf="loggedIn()">
      <a
        id="button-basic"
        dropdownToggle
        type="button"
        class="text-light btn dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Welcome {{ loggedInUser | titlecase }} <span class="caret"></span>
      </a>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu mt-2"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a class="dropdown-item" href="#"
            ><i class="fa fa-user"></i> Edit profile</a
          >
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" href="#"
          (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a
          >
        </li>
      </ul>
    </div>
    <!-- <div class="dropdown" *ngIf="loggedIn()">
    <a class="dropdown-toggle text-light">
      Welcome {{loggedInUser | titlecase}}
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"
        ><i class="fa fa-user"></i> Edit profile</a
      >
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Logout</a>
    </div>
  </div> -->
    <form
      class="form-inline my-2 my-lg-0"
      #loginForm="ngForm"
      (ngSubmit)="login()"
      *ngIf="!loggedIn()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Username"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
