<div *ngIf="!registerMode" class="container jumbotron text-center">
  <h1>Find your match</h1>
  <p class="lead text-muted">
    Come on in and find your matches.. You just need to Sign up!
  </p>
  <p>
    <a
      href="#"
      class="btn btn-primary my-2 mr-2 md-3"
      (click)="toggleRegister()"
      >Register</a
    >
    <a href="#" class="btn btn-info my-2 md-3">Learn More</a>
  </p>
</div>
<div *ngIf="registerMode" class="container col-sm-4">
  <h1 class="h2 font-weight-normal row mt-5">Sign Up</h1>
  <app-register (registerCancelledEvent)="cancelRegisterMode($event)"></app-register>
</div>
<!-- <div class="container">
  <p *ngFor="let value of values">{{ value.id }}: {{ value.name }}</p>
</div> -->
